<%= form_for(@student) do |f| %>
  <div class="row">
    <% if @student.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <%= t 'review_errors' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <%= form_group @student.errors, :name do %>
        <label><%= t('name') %></label>
        <%= f.text_field :name, class: 'form-control'%>
        <%= error_tag @student.errors, :name %>
    <% end %>
  </div>

   <div class="row">
     <div class="col-md-2">
        <%= form_group @student.errors, :under_age do %>
            <label><%= t('under_age') %></label><br/>
            <%= f.check_box :under_age, class: 'form-control'%>
            <%= error_tag @student.errors, :under_age %>
        <% end %>
     </div>
     <div class="col-md-5">
      <%= form_group @student.errors, :age do %>
          <label><%= t('age') %></label>
          <%= f.text_field :age, class: 'form-control'%>
          <%= error_tag @student.errors, :age %>
      <% end %>
   </div>
   <div class="col-md-5">
     <%= form_group @student.errors, :joining_date do %>
         <label><%= t('joining_date') %></label>
         <%= f.text_field :joining_date, class: 'form-control datepicker'%>
         <%= error_tag @student.errors, :joining_date %>
     <% end %>
   </div>
  </div>

  <div class="row">
     <div class="col-md-6">
        <%= form_group @student.errors, :school_name do %>
            <label><%= t('school_name') %></label><br/>
            <%= f.text_field :school_name, class: 'form-control'%>
            <%= error_tag @student.errors, :school_name %>
        <% end %>
     </div>
     <div class="col-md-6">
      <%= form_group @student.errors, :address do %>
          <label><%= t('address') %></label>
          <%= f.text_field :address, class: 'form-control'%>
          <%= error_tag @student.errors, :address %>
      <% end %>
   </div>
  </div>

  <div class="row">
     <div class="col-md-12">
        <%= form_group @student.errors, :contact_phone do %>
            <label><%= t('contact_phone') %></label><br/>
            <%= f.text_field :contact_phone, class: 'form-control'%>
            <%= error_tag @student.errors, :contact_phone %>
        <% end %>
     </div>
  </div>

  <div class="row">
     <div class="col-md-12">
          <%= form_group @student.errors, :student_surah do %>
              <label><%= t('student_surahs') %></label><br/>
              <%= f.select :surah_ids , Surah.all.collect {|p| [p.name , p.id]} , {}, {:multiple => true, class: "form-control select2-input surah-input"} %>
          <% end %>
     </div>
  </div>

  <div class="row">
     <div class="col-md-12">
        <%= form_group @student.errors, :other_data do %>
            <label><%= t('other_data') %></label><br/>
            <%= f.text_area :other_data, class: 'form-control'%>
            <%= error_tag @student.errors, :other_data %>
        <% end %>
     </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= form_group @student.errors, :image do %>
          <label><%= t('image') %></label>
          <%= f.file_field :image, class: 'form-control'%>
          <%= f.hidden_field :image_cache %>
          <%= error_tag @student.errors, :image %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%=
      image_tag @student.image_url(:thumb) if @student.image?
      %>
    </div>
  </div>

  <div class="row">
      <%= f.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
