<%= form_for(@teacher) do |f| %>
  <div class="row">
    <% if @teacher.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <%= t 'review_errors' %>
        </div>
    <% end %>
  </div>
  <div class="row">
    <%= form_group @teacher.errors, :name do %>
        <label><%= t('name') %></label>
        <%= f.text_field :name, class: 'form-control'%>
        <%= error_tag @teacher.errors, :name %>
    <% end %>
  </div>

   <div class="row">
     <div class="col-md-4">
       <%= form_group @teacher.errors, :ssn do %>
           <label><%= t('ssn') %></label>
           <%= f.text_field :ssn, class: 'form-control'%>
           <%= error_tag @teacher.errors, :ssn %>
       <% end %>
     </div>
     <div class="col-md-4">
      <%= form_group @teacher.errors, :salary do %>
          <label><%= t('salary') %></label>
          <%= f.text_field :salary, class: 'form-control'%>
          <%= error_tag @teacher.errors, :salary %>
      <% end %>
   </div>
   <div class="col-md-4">
     <%= form_group @teacher.errors, :phone_number do %>
         <label><%= t('phone_number') %></label>
         <%= f.text_field :phone_number, class: 'form-control'%>
         <%= error_tag @teacher.errors, :phone_number %>
     <% end %>
   </div>
  </div>


  <div class="row">
      <%= f.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
