<div class="row">
  <div class="col-md-12">
    <div class="content-box-large">
      <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
      <% end %>
      <div class="col-md-12">
      <div class="col-md-4">
        <h3><%= t('list') + " "+ t('accounts') %></h3>
      </div>

      <div class="col-md-2 pull-left">
        <a href="<%= new_account_path %>" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
      </div>
    </div>
      <div class="panel-body">
        <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= t('name') %></th>
                  <th><%= t('email') %></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @accounts.each do |account| %>
                  <tr>
                    <td><%= account.name %></td>
                    <td><%= account.email %></td>
                    <td>
                      <%= link_to account, class: 'btn btn-sm btn-default' do %>
                        <%= fa_icon 'eye' %>
                      <% end %>
                      <%= link_to edit_account_path(account), class: 'btn btn-sm btn-success' do %>
                        <%= fa_icon 'edit' %>
                      <% end %>
                      <%= link_to account, method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-sm btn-danger' do %>
                        <%= fa_icon 'trash-o' %>
                      <% end %>
                    </td>

                  </tr>
                <% end %>

              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
