<div class="row">
  <div class="col-md-12">
    <div class="content-box-large">
      <div class="col-md-12">
      <div class="col-md-4">
        <h3><%= t('list') + " "+ t('accounts') %></h3>
      </div>

      <div class="col-md-2 pull-left">
        <a href="<%= new_account_path %>" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i></a>
      </div>
    </div>
      <div class="panel-body">
        <table class="table table-bordered">
              <thead>
                <tr>
                  <th><%= t('number') %></th>
                  <th><%= t('name') %></th>
                  <th><%= t('email') %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @accounts.each do |account| %>
                  <tr>
                    <td><%= account.name %></td>
                    <td><%= account.email %></td>
                    <td><%= link_to 'Show', account %></td>
                    <td><%= link_to 'Edit', edit_account_path(account) %></td>
                    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: t('are_you_sure') } %></td>
                  </tr>
                <% end %>

              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>
